In [19]:
import numpy as np
import pandas as pd
import json
import time
import datetime

Задача сводиться к оценке средней продолжительности реально
требуемого времени на одно микрозадание. Таким образом, ответ будет
иметь вид N/30 * T, где T - среднее время, которое реально требуется на выполнение одного
микрозадания

In [42]:
# создаем датафрейм
with open("data_task4_old.txt") as f:
    df = pd.DataFrame.from_csv(f, sep='\t')

/Users/andrew/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:3: FutureWarning: from_csv is deprecated. Please use read_csv(...) instead. Note that some of the default arguments are different, so please refer to the documentation for from_csv when changing your function calls
  This is separate from the ipykernel package so we can avoid doing imports until

In [12]:
df.head()

                tid  Microtasks          assigned_ts            closed_ts
login
login0  190563850.0         4.0  2017-04-20 12:09:39  2017-04-20 13:13:01
login0  190561754.0         1.0  2017-04-20 12:10:30  2017-04-20 12:28:29
login0  190565906.0         4.0  2017-04-20 12:21:31  2017-04-20 13:30:10
login0  190560246.0         1.0  2017-04-20 12:28:30  2017-04-20 13:13:56
login0  190562168.0         2.0  2017-04-20 12:28:42  2017-04-20 13:14:50

In [60]:
# готовим нечитаемую функцию, которая принимает ряд и получает значение в секундах, 
# потенциально потраченное пользователем
# на микрозадание из полной таски

def toval(row):
    return (time.mktime(time.strptime(row.closed_ts, '%Y-%m-%d %H:%M:%S')) - time.mktime(time.strptime(row.assigned_ts, '%Y-%m-%d %H:%M:%S'))) / row.Microtasks

In [61]:
#создаем столбец, в который запишем разницу closed_ts и assigned_ts
#с этими значениями будем работать
df["time"] = np.nan
df['time'] = df.apply(toval, axis=1)

In [62]:
df.head()

,tid,Microtasks,assigned_ts,closed_ts,time
login,,,,,
login0,190563850.0,4.0,2017-04-20 12:09:39,2017-04-20 13:13:01,950.50
login0,190561754.0,1.0,2017-04-20 12:10:30,2017-04-20 12:28:29,1079.00
login0,190565906.0,4.0,2017-04-20 12:21:31,2017-04-20 13:30:10,1029.75
login0,190560246.0,1.0,2017-04-20 12:28:30,2017-04-20 13:13:56,2726.00
login0,190562168.0,2.0,2017-04-20 12:28:42,2017-04-20 13:14:50,1384.00