In [1]:
import numpy as np
import pandas as pd
import json
import time
import datetime

Задача сводиться к оценке средней продолжительности реально
требуемого времени на одно микрозадание. Таким образом, ответ будет
иметь вид N/30 * T, где T - среднее время, которое реально требуется на выполнение одного
микрозадания

In [3]:
# создаем датафрейм
df = pd.read_csv("data_task4_old.txt", sep='\t')

In [4]:
df.head()

    login          tid  Microtasks          assigned_ts            closed_ts
0  login0  190563850.0         4.0  2017-04-20 12:09:39  2017-04-20 13:13:01
1  login0  190561754.0         1.0  2017-04-20 12:10:30  2017-04-20 12:28:29
2  login0  190565906.0         4.0  2017-04-20 12:21:31  2017-04-20 13:30:10
3  login0  190560246.0         1.0  2017-04-20 12:28:30  2017-04-20 13:13:56
4  login0  190562168.0         2.0  2017-04-20 12:28:42  2017-04-20 13:14:50

In [5]:
# готовим нечитаемую функцию, которая принимает ряд и получает значение в секундах, 
# потенциально потраченное пользователем
# на микрозадание из полной таски

def toval(row):
    return (time.mktime(time.strptime(row.closed_ts, '%Y-%m-%d %H:%M:%S')) - time.mktime(time.strptime(row.assigned_ts, '%Y-%m-%d %H:%M:%S'))) / row.Microtasks

In [6]:
#создаем столбец, в который запишем разницу closed_ts и assigned_ts
#с этими значениями будем работать
df["time"] = np.nan
df['time'] = df.apply(toval, axis=1)

In [7]:
df.head()

,login,tid,Microtasks,assigned_ts,closed_ts,time
0,login0,190563850.0,4.0,2017-04-20 12:09:39,2017-04-20 13:13:01,950.50
1,login0,190561754.0,1.0,2017-04-20 12:10:30,2017-04-20 12:28:29,1079.00
2,login0,190565906.0,4.0,2017-04-20 12:21:31,2017-04-20 13:30:10,1029.75
3,login0,190560246.0,1.0,2017-04-20 12:28:30,2017-04-20 13:13:56,2726.00
4,login0,190562168.0,2.0,2017-04-20 12:28:42,2017-04-20 13:14:50,1384.00

In [8]:
# заметим, что почти все таски в таблице уникальные, поэтому анализировать статистику выполнения 
# отдельной таски не имеет смысла
df.tid.unique().__len__()

635044

In [9]:
len(df)

701827

In [10]:
# составляем массив среднего времени выполнения одного микрозадания конкретными пользователями
arr = np.array([df[df.login == login].time.mean() for login in df.login.unique()] )

In [11]:
# это среднее выполнение пользователями своих заданий. этим значением можно оценить требуемое время сверху
arr.mean()

1153.7930469137455

38 $\cdot$ N рублей следует платить за одно микрозадние